
@{
    ViewBag.Title = "ConfimationSent";
}

<h2>Confimation Sent</h2>

<p> Please check your email for the latest email confirmation link. Check your spam folder if you do not see it within the next few moments. </p>